/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.profile-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    color: #007bff;
}

p {
    text-align: justify;
}

ul {
    padding: 0;
}

li::before {
    content: "▹";
    margin-right: 8px;
    color: #007bff;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

.container {
    margin-top: 70px; /* Ensure space for fixed navbar */
}

.pt-5 {
    padding-top: 3rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}
