/* styles.css */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.profile-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1, h2 {
    color: #007bff;
    animation: fadeInDown 1s ease-in-out;
}

p {
    text-align: justify;
    animation: fadeInUp 1.5s ease-in-out;
}

ul {
    padding: 0;
    list-style-type: none;
}

li::before {
    content: "▹";
    margin-right: 8px;
    color: #007bff;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

.container {
    margin-top: 70px; /* Ensure space for fixed navbar */
    animation: fadeIn 1s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Footer height */
    line-height: 60px; /* Vertically center the text */
    background-color: #333;
    color: white;
    text-align: center;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.progress-bar {
    transition: width 1s ease-in-out;
}
